body {
	background: linear-gradient(to bottom, #ff00ff, #8b008b);
	font-family: Arial, sans-serif;
	color: #fff;
	text-align: center;
}

h1 {
	margin-top: 50px;
	font-size: 36px;
}

p {
	margin-top: 20px;
	font-size: 24px;
}

#status {
	font-weight: bold;
}
