/* CSS général */

body {
  background-color: #f8f9fa;
  color: #6c757d;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

body.dark {
  background-color: #000;
  color: #fff;
}

nav {
  background-color: #343a40;
  color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav a {
  color: #f8f9fa;
  text-decoration: none;
}

nav a:hover {
  color: #adb5bd;
}

h1 {
  font-size: 3rem;
  margin: 2rem 0 1rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  color: #f8f9fa;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #0069d9;
}

a button {
  margin-right: 0;
}

a button:hover {
  background-color: #0062cc;
}

/* CSS pour la page d'accueil */

h1 {
  text-align: center;
}

/* CSS pour la page d'invitation */

main {
  margin: 2rem auto;
  max-width: 500px;
  text-align: center;
}

/* CSS pour la page de statut */

#status {
  font-weight: bold;
}

.watchbot-widget {
  margin: 2rem auto;
  max-width: 500px;
}
